*.pyc
*.pyo
/build/
dist/
/docs/build/output/
*.orig
alembic.ini
.venv
*.egg-info
.coverage
coverage.xml
.tox
*.patch
/scratch
/scratch_test_*
/test_schema.db
.idea/
.vscode/
.pytest_cache/
/docs/build/_build/
/pysqlite_test_schema.db
*.sqlite3
