recursive-include docs *.html *.css *.txt *.js *.jpg *.png *.py Makefile *.rst *.sty
recursive-include tests *.py *.dat
recursive-include alembic/templates *.mako README *.py

include README* LICENSE run_tests.py CHANGES* tox.ini

prune docs/build/output


