recursive-include docs *.html *.css *.txt *.js *.jpg *.png *.py Makefile *.rst *.sty
recursive-include tests *.py *.dat
recursive-include alembic/templates *.mako README *.py

include README* LICENSE distribute_setup.py CHANGES* test.cfg

prune docs/build/output


